@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

html, body, section{	
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
  color: white;
}

* {
  font-family: 'OpenSans', sans-serif;
  -webkit-user-select: none;
}

body {
  background: black;
}

textarea {
  height: 150px;
  width: 350px;
  padding: 10px 15px;
  margin: 0px;
  -webkit-user-select: default;
  border-radius: 0;
  background: #E0E0E0;
}


/**/

#top {
  clear: both;
  width: 100%;
  display: table;
}

#top #logo {
  height: 45px;
  margin: 15px;
  float: left;
}

#top h1{
  font-size: 19px;
  font-weight: normal;
  line-height: 1.2em;
}

#top h2, #top h3{
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2em;
}

#top hgroup{
  margin: 15px 0;
  float: left;
}

#top #screens_control {
  position: absolute;
  right: 14px;
  top: 12px;
}

#top #screens_control ul{  list-style: none; }

#top #screens_control li{  margin-bottom: 5px; opacity: 0.25; font-size: 14px; }

#top #screens_control li:hover, #top #screens_control li.active{  opacity: 1; cursor: pointer; }



/**/

#body{  
  overflow-x: hidden;
  /*height: 550px;*/
}

#body .screen{
  float: left;
  height: 255px;
  width: 350px;
}

/**/

div#likes {
  text-align: right;
  letter-spacing: 5px;
}

#playback_control{
  float: left;
  margin: 10px 0 0 30px;
}

#playback_control i {
  cursor: pointer;
  font-size: 32px;
  padding: 16px 20px 10px 0;
}

#playback_control i:hover,
div#likes i:hover {
  color: #A2A2B6;
}

#playback_stream{
  float: right;
  margin: 12px 20px 20px 0;
}

#stream {
  width: 200px;
  height: 5px;
  background: #D1D1D1;
  margin: 10px 0;
}

#stream div{
  height: 5px;
  width: 100%;
  background: #A2A2B6;
}

.scroll_content {
  width: 500%;
}

#times .total{
  float: right;
}

/**/

div#support_screen .commands{
  padding: 15px;
}

div#support_screen .commands input{
  padding: 5px 15px;
  background: none;
  color: white;
  border: 1px solid;
}